<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<div id='cssmenu'>
<ul>
   <li class='active'><a href='main.html'><span><img src="logo.png" height=60px width=120px></span></a></li>
   <li><a href='how.html'><span>About GardenShare</span></a></li>
   <li><a href='who.html'><span>About Us</span></a></li>
   <li><a href='interest.html'><span>Articles and Essays</span></a></li>
</ul>
</div>

<br>

<center><img src="logo.png" height="250" width="450"></center>

<br>

<!-- CAROUSELS -->

    <div id="carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
        <div class="first">
            <br><br>
            <div class="textback">
            <h2>RECONNECTING YOU<br>TO YOUR FOOD</h2>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        </div>

        <div class="item">
        <div class="second">
            <br><br><br><br><br><br><br><br>
            <div class="textback">
            <h2>HOW CAN I RECONNECT?</h2>
            <a href="how.html"><center>THE BACKYARD GROCERY STORE</center></a>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        </div>

        <div class="item">
        <div class="third">
            <br><br><br><br><br><br><br><br>
            <div class="textback">
            <h2><center>WHO ARE WE?</center></h2>
            <a href="who.html"><center>LEARN ABOUT US</center></a>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        </div>

        <div class="item">
        <div class="fourth">
            <br><br><br><br><br><br><br><br>
            <div class="textback">
            <h2><center>ARTICLES AND ESSAYS</center></h2>
            <a href="interest.html"><center>CHANGING THE FOOD SYSTEM</center></a>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
        </div>

    </div>

  <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    </div>



<script type="text/javascript">
    $(document).ready(function () {
        $('.carousel').carousel({
        interval: 4000
        })
    })
</script>

<br>
<h3>Launching Soon</h3>

<div class="quote"> Check out our new promo: </div>

<center><iframe width="560" height="315" src="http://www.youtube.com/embed/WgVYOeOsCMo" frameborder="0" allowfullscreen></iframe></center>

<div class="quote">What I stand for is what I stand on -Wendell Berry</div>
<br>
